/*Start of header*/
.header .container-fluid{
    height:40px;
}
.header .navbar , .navbar-fixed-top{
    background:grey !important;
    min-height:40px !important;//Override bootstrap
    height:40px !important;
}
.header .navbar ul li a{
    color:white;
}
.header .navbar ul.navbar-nav > li{
    height:40px;
}
.header .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
}
.header .navbar .nav > li .dropdown-menu > li > a:hover{
    background-color: grey;
    background-image: none;
    color:white !important;
}
.header .navbar .nav > li .dropdown-menu > ul{
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;

}
.header .nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
    background-color: #e5e5e5 !important;
    border-color: transparent;
    color:#333;

}
.header .nav>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
    background-color: transparent;
}
.header .navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
    background-color: transparent;
    color: #000000;
    text-decoration: none;
    text-shadow: 0 1px 0 #ffffff;
}
.header .dropdown-menu {
    background-color: white;
    border: none;
}
.header .dropdown-menu>li>a {
    color: #333 !important;
}
/*For the 2nd Level Drop Down */
.header .dropdown-submenu{
    position:relative;
}
.header .dropdown-submenu>.dropdown-menu{
    top:0;left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.header .dropdown-submenu:hover>.dropdown-menu{
    display:block;
}
.header .dropdown-submenu>a:after{
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.header .dropdown-submenu:hover>a:after{
    border-left-color:#ffffff;
}
.header .dropdown-submenu.pull-left{
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu{
    left:-100%;
    margin-left:10px;-webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}
/*End of 2nd Level Drop Down */
.header .glyphicon{
    font-size: 18px;
    top:4px;
}

/*End of header*/



/*Start of content*/
.inner-content{
    background-color: #ffffff;
    width:100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -moz-border-radius: 10px;
    border:2px solid #dedede;
    margin-top:40px;
    position: relative;

}
.inner-content-header{
    position: relative;
    height:50px;
    width: 100%;
    text-align:center;
    background: url('../img/nav-bg.png');
    border-top-right-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -o-border-top-right-radius: 8px;
    -moz-border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    -webkit-border-top-left-radius: 8px;
    -o-border-top-left-radius: 8px;
    -moz-border-top-left-radius: 8px;
}
.inner-content-header div{
    font-weight: bold;
    line-height: 60px;
    text-transform: uppercase;
}

/*Start of login page*/
#login-box{
    width:365px;
    height:282px;
    margin: 150px auto;
    text-align: center;
    //padding:20px 35px 35px 35px;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    border:3px solid #dedede;
    border-radius: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    background: #ededed; /* Old browsers */
    background: -moz-linear-gradient(top,  #ededed 0%, #cccccc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ededed 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ededed 0%,#cccccc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ededed 0%,#cccccc 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ededed 0%,#cccccc 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */

}
#login-box h3{
    margin:0;
    padding:0;
    font-weight: bold;
}

/*End of login page*/

/*Start of Sidebar*/

/* Admin Sidebar*/


.sidebar{
    background: #989898;
    border: 1px solid #8f8f8f;
    width: 190px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    padding: 10px 5px 70px 5px;
    text-align: left;
    color: #fcfcfc;
    margin-top: 18px;
    margin-left: 10px;
    float: left;
    margin-bottom: 15px;
}
.sidebar ul{
    list-style: none;
    text-align: left;
    padding:0;
    margin: 5px 0;
}
.sidebar ul li{
    display:inline-table;
    line-height: 20px;
}
.sidebar ul li a{
    text-decoration: none;
    color: #464646;
    font-size: 13px;
    padding: 0 4px;
}
.sidebar .border-li{
    border-right: 1px solid #464646;
}
.sidebar-details{
    margin-left:10px;
    margin-bottom: 10px;
}
.sidebar-name{
    font-size: 18px;
    line-height: normal;
    margin: 10px 0px 10px 0px;
    font-family: inherit;
    font-weight: bold;
    line-height: 20px;
    color: inherit;
}

div.ui-datepicker{
    font-size: 10.5px;
    line-height: 20px;
}

input.datepicker, input.calendar{
    font-family: 'droid_sansregular' !important;
}

.control-dates{
    background: white;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding:5px;
    width:180px;

}
.startdate{
    margin-top:5px;
}
.startdate label{
    color:#666666;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
}
.enddate{
    margin-bottom: 20px;
}
.enddate label{
    color:#666666;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
}
.calendar{
    width:137px;
    padding:4px 6px 4px 6px; 
}
.control-dates img{
    margin-bottom: 7px;
    margin-left:5px;
}
.update-button{
    margin-bottom: 10px;
}

.calendar-box{

}

/*End of Sidebar*/

/*Global Styles in Dashboard*/
.dashboard-body{
    padding: 0px 40px 0px 35px;
}
.main-title{
    font-size: 22px;
    line-height: 22px;
    font-weight: bold;
    margin-bottom: 2px;
}
p.breadcrumbs{
    font-size: 12px;
    color: #999999;
    text-align: left;
}
div.dashboard-toolbar{
    position: relative;
    margin-top:5px;
    margin-bottom: 10px;
}

div.dashboard-heading{
    margin-bottom: 10px;
}
tr.table-head th{
    text-align: center;
    vertical-align: middle !important;
}
tr.table-head{
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
    padding: 5px;
    vertical-align: middle;
    white-space: normal;
    background: -moz-linear-gradient(top, #dfdfdf 0%, #cccccc 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dfdfdf), color-stop(100%,#cccccc));
    background: -webkit-linear-gradient(top, #dfdfdf 0%,#cccccc 100%);
    background: -o-linear-gradient(top, #dfdfdf 0%,#cccccc 100%);
    background: -ms-linear-gradient(top, #dfdfdf 0%,#cccccc 100%);
    background: linear-gradient(to bottom, #dfdfdf 0%,#cccccc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfdfdf', endColorstr='#cccccc',GradientType=0 );
}
div.dashboard-heading .head{
    height:35px;
    background: #999;
    color:white;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    padding-top: 5px;

    border-top-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    -o-border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    -o-border-top-right-radius: 5px;

}
div.dashboard-table-content table{
    /*display:block;*/
    word-wrap: break-word;

}

#minimum-maintenance-table td, #minimum-maintenance-table th{
    vertical-align: middle !important;
}

#minimum-maintenance-table td:not(:first-child){
    text-align: right !important;
} 
#minimum-maintenance-table td:first-of-type{
 text-align: left !important;
}
#volume .dataTable td:not(:first-child){
    text-align: right;
}



#volume .dataTable{
    font-size: 11px;
    vertical-align: middle;
}

#billing .dataTable td:not(:first-child){
    text-align: right;
}

#billing .dataTable{
    width: 350px;
    height: auto;
    font-size: 11px;
    vertical-align: middle;
}

#unit-ratios .dataTable td:not(:first-child){
    text-align: right;
}

#unit-ratios .dataTable{
    width: 650px;
    height: auto;
    font-size: 11px;
    vertical-align: middle;
}

#visit-ratios .dataTable td:not(:first-child){
    text-align: right;
}

#visit-ratios .dataTable{
    width: 650px;
    height: auto;
    font-size: 11px;
    vertical-align: middle;
}

#case-management-ratios .dataTable td:not(:first-child){
    text-align: right;
}

#case-management-ratios .dataTable{
    width: 500px;
    height: auto;
    font-size: 11px;
    vertical-align: middle;
}

#financial-ratios .dataTable td:not(:first-child){
    text-align: right;
}

#financial-ratios .dataTable{
    width: 300px;
    height: auto;
    font-size: 11px;
    vertical-align: middle;
}

#statting-ratios .dataTable td:not(:first-child){
    text-align: right;
}

#statting-ratios .dataTable{
    width: 500px;
    height: auto;
    font-size: 11px;
    vertical-align: middle;
}

.admin-table th{
    height: 65px;
}

.admin-table td{
    vertical-align:middle !important;
}

.dashboard-table-content input{
    /*width: 500px;*/
}
/*Admin Dashboard*/
.admin-toolbar{
    height: 35px;
}

.admin-dashboard-table{

}

/*End of admin dashboard*/

/*Start of Minimum Data set dashboard*/
.minimum-dataset-toolbar{
    height: 35px;
}

#minimum-maintenance-table{
    text-align: right;
    vertical-align: middle;
    font-size: 12px;
}
/*End of minimum maintenance table*/

/*Owner registration page*/

.registration-box{
    margin:40px auto;
    width:830px;
    border:2px solid #dedede;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    padding:30px;
}

.registration-navi{
    width: 270px;
    background: #e9e8e8;
    text-align: center;
    float: right;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
}
.registration-pane{
    padding:0px 32px 0px 32px;
    width: 100%;
    /*height:62px;*/
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
}
.pane-cover{
    width: 200px;
    height: 62px;
    position: relative;
    display: table;
}
.panetext{
    display: table-cell;
    height: 35px;
    width: 250px;
    font-weight: bold;
    font-size: 12px;
    color:#666666;
    text-align: left;
    padding-right:20px;
    vertical-align: middle;

}

.pane-number{
    margin-top: 13px;
    margin-right: 7px;
    color:#666666;
    padding: 0;
    width:35px;
    height: 35px;
    text-align: center;
    line-height: 33px;
    font-weight: bold;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -o-border-radius: 50px;
    background: #fdfdfd; /* Old browsers */
    background: -moz-linear-gradient(top,  #fdfdfd 0%, #dedede 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#dedede)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fdfdfd 0%,#dedede 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fdfdfd 0%,#dedede 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fdfdfd 0%,#dedede 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #fdfdfd 0%,#dedede 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#dedede',GradientType=0 ); /* IE6-9 */
    border:1px solid #cbcbcb;
}
.pane-check{
    font-size: 11px;
    margin-top: 13px;
    margin-right: 7px;
    color:#666666;
    padding: 0;
    width:35px;
    height: 35px;
    text-align: center;
    line-height: 33px;
    font-weight: bold;
    /*float:left;*/
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -o-border-radius: 50px;
    background: #99d911; 
    border:1px solid #cbcbcb;
}
.pane-check div{
    padding: 4px 0px;
    color:#99d911;
    text-align: center;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -o-border-radius: 50px;
    margin: 0px auto;
    background: white;
    top:1px;

}
.active-pane,.active-pane .panetext{
    color:#fff9e8 !important;
    background: #c0c0c0; /* Old browsers */
    background: -moz-linear-gradient(top,  #c0c0c0 0%, #858585 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c0c0c0), color-stop(100%,#858585)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #c0c0c0 0%,#858585 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #c0c0c0 0%,#858585 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #c0c0c0 0%,#858585 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #c0c0c0 0%,#858585 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c0c0c0', endColorstr='#858585',GradientType=0 ); /* IE6-9 */

}
.registration-form{
    padding-bottom: 100px;
}
.finish-registration{
    text-align: center;
}
.finish-registration h3{
    color:#85c500;
}
.finish-registration p{
    color:#666666;
}
.registration-buttons{


}
.registration-buttons button span{
    color:#9eda20;
}
.registration-buttons button{
    height: 45px;
}
/*End of registration*/

/*Start of user-maintenance-table*/
table#user-maintenance-table{
    font-size: 11px;
}

table#user-maintenance-table tbody tr td:nth-last-child(2){
    text-align: right;
}

table#user-maintenance-table tbody tr td:nth-last-child(3){
    text-align: right;
}

table#user-maintenance-table tbody tr td{
    text-align: left;
    vertical-align: middle;
}

/*End of user-maintenance-table*/

/*Start of user-termination-table*/
table#user-termination-table{
    font-size: 11px;
}

table#user-termination-table tbody tr td:nth-last-child(2){
    text-align: right;
}

table#user-termination-table tbody tr td:nth-last-child(3){
    text-align: right;
}

table#user-termination-table tbody tr td{
    text-align: left;
    vertical-align: middle;
}
/*End of user-termination-table*/



/*Start of create user page*/
#addloc-modal .modal-header{
    border-bottom: none;
}

/*Start of clinician dashboard*/
table#clinician-table{
    border:1px solid #dddddd;
    background: #ffffff;
}
table#clinician-table .table-date{
    background: #999999;
    color:white;
}
table#clinician-table tr.table-week{
    height: 55px;

}
table#clinician-table .table-volume{
    background: #eeeeee;
}

table#clinician-table tbody{
    font-size: 12px;
}
table#clinician-table input{
    width: 60px;
    height: 25px;
    float: right;
    clear:both;
    text-align: right;
    padding:5px;
    font-size: 12px;
}
table#clinician-table .table-sub-header{
    background: #eeeeee;
}
.close-weekly-button{
    cursor: pointer;
    float: right;
}
table#clinician-table button.save-button{

}
table#clinician-table td.save-container{
    text-align: center;
}
table#clinician-table .total{
    border-left: none;
    font-weight: bold;
}

table#clinician-table .billing-container{
    text-align: center;
    border-right: none;
    font-weight: bold;
}

table#clinician-table input.clinician-input{

}

table#clinician-table .table-week th{
    color:red;
}

table#clinician-table .week-dates{
    color:black;
}
table#clinician-table .numbers{
    text-align: right;
}


/*End of Clinician dashboard*/
/*Start of Billers Dashboard*/
table#billers-table{
    padding:5px;
    font-size: 12px !important;
    font-weight: normal !important;
}

table#billers-table tr{
    height: 50px;
}

table#billers-table input{
    width: 60px;
    height: 20px;
    float: right;
    clear:both;
    text-align: right;
    padding:5px;
    font-size: 12px;
}
/*End of Billers Dashboard*/

/*Start of location maintenance table*/
table#location-maintenance-table tbody td{
    font-size: 11px;
    text-align: left;
}
table#location-maintenance-table tbody td:nth-child(3){
    text-align: right;
}
table#location-maintenance-table tbody td:nth-child(4){
    text-align: center;
}
table#location-maintenance-table tbody td:nth-last-child(1){
    text-align: center;
}
table#location-maintenance-table tbody td:nth-last-child(3){
    text-align: center;
}
table#location-maintenance-table tbody td:nth-last-child(4){
    text-align: center;
}

/*End of location maintenance table*/

/*Start of location-closed-table*/
table#location-closed-table tbody td{
    font-size: 11px;
    text-align: left;
}
table#location-closed-table tbody td:nth-child(3){
    text-align: right;
}
table#location-closed-table tbody td:nth-child(4){
    text-align: center;
}
table#location-closed-table tbody td:nth-last-child(1){
    text-align: center;
}
table#location-closed-table tbody td:nth-last-child(3){
    text-align: center;
}
table#location-closed-table tbody td:nth-last-child(4){
    text-align: center;
}
/*End of location-closed-table*/

/*Start of graph header */
.graph-header{
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: #fff;
    background-color: #999;
    text-align: center;
    width: 100%;
    padding: 8px;
    font-weight: bold;
    margin-bottom: 10px;
}
/*End of Graph header*/

.line-graph-container{
    width: 930px;
    height: 500px;
}

/* Fix for the modal (page shifting 15px to the right) */
#clinician-modal, #change-pass-modal{
    overflow:hidden;
}
body {
    overflow-y: scroll !important;
}

/* Fix for the login box */

.control-group{
    width: 285px;
}

.email-field-group{
    width: 285px;
    margin-top: 10px;
}

#txt-email{
    width:205px;
    float: left;
    margin-left: 20px;
}

#lbl-email{
    width: 55px;
    text-align: right;
    font-weight: normal;
    float: left;
}

.password-field-group{
    margin-bottom: 90px;
    width: 285px;
    
}
#txt-password{
    width: 205px;
    float: left;
    margin-top: 10px;
    margin-left: 15px;
}

#lbl-password{
    width: 60px;
    text-align: right;
    font-weight: normal;
    float: left;
    margin-top: 10px;
}

.checkbox-div{
    display: block;
    width: 285px;
}

#lbl-checkbox{
    font-weight: normal;
    vertical-align:middle;
    padding-left: 0px;
 
}

#checkbox{
    margin-top: 10px;
    margin-right: 5px;
    float: left;
    position: relative;
    left: 85px;
}

.login-footer{
    text-align: left;
    margin-top: 10px;
}

#lbl-security{
    color: maroon;
    float: left;
    font-weight: normal;
    font-style: italic;
    text-align: left;
    font-size: 12px;
    margin-top: 5px;
}

#forgot-pass-link{
    display: inline-block;
    color: gray;
}

#btn-login{
    font-size:18px;
    font-weight: bold;
    padding:10px 20px; 
    background-color:#636363;
    color:#fff;
    border:2px solid #dedede;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    outline:none;
    -webkit-box-shadow: 0px 2px 1px 0px #bdbdbd;
    box-shadow: 0px 2px 1px 0px #bdbdbd;
    cursor:pointer;
}

.btn-login{
    position: relative;
    bottom: 60px;
    left: 190px;
}

.dashboard-body .pblogo img{
    position: absolute;
    width: 100px;
    height: 70px;
    right: 35px;
    top: 0px;
}

.pblogo-login{
    position: absolute;
    right: 120px;
    top: 30px;
}

.left-border{
	border-left:2px solid #777;
}


